{{{html}}}

<div class="gh-cta-gradient"></div>

<section class="gh-cta">
    {{#has visibility="paid"}}
        <h4 class="gh-cta-title">Тази статия е заключена за безплатни абонаменти</h4>
    {{/has}}
    {{#has visibility="members"}}
        <h4 class="gh-cta-title">Тази статия е за регистрирани потребители</h4>
    {{/has}}
    {{#has visibility="filter"}}
        <h4 class="gh-cta-title">Тази статия е за хора, които са на {{tiers}} абонамент</h4>
    {{/has}}

    <div class="gh-cta-actions">
        {{#if @member}}
            <button class="gh-btn gh-primary-btn" href="#/portal/account/plans" data-portal="account/plans">Ъпгрейдни сега</button>
        {{else}}
            <button class="gh-btn gh-primary-btn" href="#/portal/signup" data-portal="signup">Абонирай се</button>
            <span class="gh-cta-link" href="#/portal/signin" data-portal="signin">Вече имате акаунт. Вход.</span>
        {{/if}}
    </div>
</section>